
.bottle-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.bottle {
    border: 2px solid aqua;
    padding: 15px;
    border-radius: 15px;
}

.bottle img {
    width: 200px;
}